<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="Llave1" value="Valor1">
        <add key="Llave2" value="Valor2">
        <add key="Llave3" value="Valor3">
        <add key="MostrarErroresAlUsuario" value="False">
        <add key="VersionDeDotNet" value="3.1">
    </appSettings>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="New Contact Us Page Redirect" stopProcessing="true">
                    <match url="^(about/us.*)" />
                    <action type="Redirect" url="http://www.example.com/about_us/" />
                </rule>
                <rule name="New About Page Redirect" stopProcessing="true">
                    <match url="^(contact/us.*)" />
                    <action type="Redirect" url="http://www.example.com/contact_us/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
